/* Base Application Styles */
body {
  background: #2c3e50;
  padding: 15px;
  color: #bdc3c7;
  font-weight: bold;
}

h3{
  margin: 0;
  padding: 0;
}

input{

}

#app, .wrapper{
  position: absolute;
  left:0; right: 0; top: 0; bottom: 0;
}

.wrapper{
  padding: 15px;
}

.flex{
  display: flex;
  justify-content: center;
}

.flex-column{
  flex-direction: column;
  align-content: stretch;
}

.item{
  flex-grow: 1;
  text-align: center;
}

header{}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li{}

.sep{
  margin-right:10px;
}

.label{
  font-size:3vw;
  text-align: center;
  text-transform: uppercase;
  word-wrap: nowrap;
  border: 1px solid #e74c3c;
}
@media screen and (min-width: 600px) and (min-width: 1200px){
  .label{
    font-size:2vw;
  }
}


.inner-list li{
  padding: 25px;
}

.inner-list li:first-child{
  border-bottom: 1px solid #7f8c8d;
}
